In [1]:
# fix multiindex problem for 202406 flags
from LiveAMP import *
# FLAGS().run()
self = AMP(**kwargs)
self.preprocess()
self.main()#styp_codes='n')
# self.push()

get reg_df
get reg_df
get Y

========================================================================================================

_total   n 0
new score = 4.96
0 / 35 = 0.00% complete, elapsed = 0.01 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   n 1
new score = 4.09
old score = 4.96
replacing
0 / 34 = 0.00% complete, elapsed = 0.02 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   n 2
new score = 4.41
old score = 4.09
keeping
0 / 33 = 0.00% complete, elapsed = 0.03 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   n 3
new score = 4.54
old score = 4.09
keeping
0 / 32 = 0.00% complete, elapsed = 0.05 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   t 0
new score = 9.54
0 / 31 = 0.00% complete, elapsed = 0.05 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   t 1
new score = 8.94
old score = 9.54
replacing
0 / 30 = 0.00% complete, elapsed = 0.05 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   t 2
new score = 8.67
old score = 8.94
replacing
0 / 29 = 0.00% complete, elapsed = 0.06 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   t 3
new score = 7.59
old score = 8.67
replacing
0 / 28 = 0.00% complete, elapsed = 0.07 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   r 0
new score = 12.22
0 / 27 = 0.00% complete, elapsed = 0.07 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   r 1
new score = 12.50
old score = 12.22
keeping
0 / 26 = 0.00% complete, elapsed = 0.08 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   r 2
new score = 14.07
old score = 12.22
keeping
0 / 25 = 0.00% complete, elapsed = 0.08 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

_total   r 3
new score = 14.18
old score = 12.22
keeping
0 / 24 = 0.00% complete, elapsed = 0.09 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 n 0
new score = 7.51
0 / 23 = 0.00% complete, elapsed = 0.10 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 n 1
new score = 7.08
old score = 7.51
replacing
0 / 22 = 0.00% complete, elapsed = 0.11 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 n 2
new score = 7.06
old score = 7.08
replacing
0 / 21 = 0.00% complete, elapsed = 0.12 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 n 3
new score = 5.88
old score = 7.06
replacing
0 / 20 = 0.00% complete, elapsed = 0.13 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 t 0
new score = 30.77
0 / 19 = 0.00% complete, elapsed = 0.14 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 t 1
new score = 53.85
0 / 18 = 0.00% complete, elapsed = 0.14 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 t 2
new score = 33.33
0 / 17 = 0.00% complete, elapsed = 0.15 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 t 3
new score = 50.00
0 / 16 = 0.00% complete, elapsed = 0.15 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 r 0

/home/scook/miniconda3/envs/my3.11/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

new score = <NA>
0 / 15 = 0.00% complete, elapsed = 0.16 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 r 1

/home/scook/miniconda3/envs/my3.11/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

new score = <NA>
0 / 14 = 0.00% complete, elapsed = 0.16 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 r 2

/home/scook/miniconda3/envs/my3.11/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

new score = <NA>
0 / 13 = 0.00% complete, elapsed = 0.16 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

biol1406 r 3

/home/scook/miniconda3/envs/my3.11/lib/python3.11/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

new score = <NA>
0 / 12 = 0.00% complete, elapsed = 0.17 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 n 0
new score = 6.60
0 / 11 = 0.00% complete, elapsed = 0.18 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 n 1
new score = 3.63
old score = 6.60
replacing
0 / 10 = 0.00% complete, elapsed = 0.19 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 n 2
new score = 7.55
old score = 3.63
keeping
0 / 9 = 0.00% complete, elapsed = 0.20 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 n 3
new score = 4.14
old score = 3.63
keeping
0 / 8 = 0.00% complete, elapsed = 0.21 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 t 0
new score = 57.14
0 / 7 = 0.00% complete, elapsed = 0.22 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 t 1
new score = 55.56
0 / 6 = 0.00% complete, elapsed = 0.22 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 t 2
new score = 60.00
0 / 5 = 0.00% complete, elapsed = 0.23 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 t 3
new score = 85.71
0 / 4 = 0.00% complete, elapsed = 0.23 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 r 0
new score = 100.00
0 / 3 = 0.00% complete, elapsed = 0.23 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 r 1
new score = 100.00
0 / 2 = 0.00% complete, elapsed = 0.24 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 r 2
new score = 100.00
0 / 1 = 0.00% complete, elapsed = 0.24 min, remaining = 0.00 min @ 0.00 min per model

========================================================================================================

engl1301 r 3
new score = 100.00
0 / 0 = 100.00% complete, elapsed = 0.25 min, remaining = 0.00 min @ 0.00 min per model

In [5]:
self.optimal['summary'].query("crse=='_total' & term_code==202408")['predict'].max()

6080.130981485551

In [6]:
        target_url = 'https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M'
        with open(self.summary, 'rb') as target_file:
            response = requests.post(target_url, files = {"amp_summary.csv": target_file})

In [2]:
self.mlt

                                                      mlt
crse     levl_code styp_code term_code mlt_term
_total   ug        n         202108    202108    1.309902
                             202208    202208    1.277662
                             202308    202308    1.207961
                   r         202108    202108    6.207547
                             202208    202208     8.90625
                             202308    202308    3.940299
                   t         202108    202108    4.117647
                             202208    202208    4.292763
                             202308    202308    2.942029
biol1406 ug        n         202108    202108        1.28
                             202208    202208    1.207171
                             202308    202308    1.183246
                   r         202108    202108        <NA>
                             202208    202208        <NA>
                   t         202108    202108    4.230769
                             202208    202208    3.111111
                             202308    202308    2.846154
engl1301 ug        n         202108    202108     1.36858
                             202208    202208    1.316947
                             202308    202308    1.237833
                   r         202108    202108         4.0
                             202208    202208        <NA>
                             202308    202308    2.666667
                   t         202108    202108         5.4
                             202208    202208    4.285714
                             202308    202308    3.222222
_total   ug        n         202408    202108    1.309902
                                       202208    1.277662
                                       202308    1.207961
                   r         202408    202108    6.207547
                                       202208     8.90625
                                       202308    3.940299
                   t         202408    202108    4.117647
                                       202208    4.292763
                                       202308    2.942029
biol1406 ug        n         202408    202108        1.28
                                       202208    1.207171
                                       202308    1.183246
                   r         202408    202108        <NA>
                                       202208        <NA>
                   t         202408    202108    4.230769
                                       202208    3.111111
                                       202308    2.846154
engl1301 ug        n         202408    202108     1.36858
                                       202208    1.316947
                                       202308    1.237833
                   r         202408    202108         4.0
                                       202208        <NA>
                                       202308    2.666667
                   t         202408    202108         5.4
                                       202208    4.285714
                                       202308    3.222222

In [7]:
self.optimal['summary'].groupby(['crse','levl_code','styp_code','term_code','train_term','sim']).size().disp(200)

In [2]:
self.optimal['summary']#.query("styp_code=='all'")['predict'].max()

,crse,levl_code,styp_code,term_code,train_term,sim,predict,actual,error,error_pct,mse_pct,f1_inv_pct
0,_total,ug,new first time,202108,202108,0,2143.0,2143.0,0.0,0.0,18.430692,29.217604
1,_total,ug,new first time,202108,202108,1,2136.450489,2143.0,-6.549511,-0.305623,19.182572,30.456076
2,_total,ug,new first time,202108,202108,2,2115.492054,2143.0,-27.507946,-1.283619,18.874108,30.113811
3,_total,ug,new first time,202108,202108,3,2136.450489,2143.0,-6.549511,-0.305623,18.527087,29.415366
4,_total,ug,new first time,202108,202108,4,2146.929707,2143.0,3.929707,0.183374,18.989782,30.076336
...,...,...,...,...,...,...,...,...,...,...,...,...
355,engl1301,ug,all,202408,202308,5,5775.185765,294.251992,5480.933773,1862.666667,<NA>,<NA>
356,engl1301,ug,all,202408,202308,6,5626.098089,294.251992,5331.846097,1812.0,<NA>,<NA>
357,engl1301,ug,all,202408,202308,7,5645.714888,294.251992,5351.462896,1818.666667,<NA>,<NA>
358,engl1301,ug,all,202408,202308,8,5681.025127,294.251992,5386.773135,1830.666667,<NA>,<NA>
359,engl1301,ug,all,202408,202308,9,5539.784171,294.251992,5245.532179,1782.666667,<NA>,<NA>

In [26]:
self.optimal['_total']['n']['summary'].disp(10000)

In [21]:
for key in ['details', 'summary']:
    A = pd.concat([S[key] for crse, C in self.optimal.items() for styp_code, S in C.items() if isinstance(S, dict) and key in S.keys()])
    # if key == 'summary':
    #     B = A.copy().reset_index().assign(styp_code=A.reset_index()['styp_code'].replace({'n':'new first time','t':'transfer','r':'returning'}))
    #     C = B.assign(styp_code='all').groupby(A.index.names)[['predict','actual','error']].sum().reset_index()
    #     C['error_pct'] = C['error'] / C['actual'] * 100

idx = A.index.names
A = A.reset_index()
A['styp_code'] = A['styp_code'].replace({'n':'new first time','t':'transfer','r':'returning'})
B = A.copy()
# B['styp_code'] = 'all'
# B = B.groupby(['crse', 'levl_code','term_code', 'train_term', 'sim'])[['predict','actual','error']].sum()#.reset_index()
# B.disp(200)
# idx
A.query("term_code==202408").disp(10000)

In [3]:
crse= [
        'engl1301',
        'biol1406',
        'math1314',
        'biol2401',
        'math2412',
        'agri1419',
        'psyc2301',
        'ansc1319',
        'comm1311',
        'hist1301',
        'govt2306',
        'math1324',
        # 'chem1411',
        'univ0301',
        'univ0204',
        'univ0304',
        'agri1100',
        'comm1315',
        'agec2317',
        'govt2305',
        'busi1301',
        'arts1301',
        'math1342',
        'math2413',
        ]

In [4]:
sorted(crse)

['agec2317',
 'agri1100',
 'agri1419',
 'ansc1319',
 'arts1301',
 'biol1406',
 'biol2401',
 'busi1301',
 'comm1311',
 'comm1315',
 'engl1301',
 'govt2305',
 'govt2306',
 'hist1301',
 'math1314',
 'math1324',
 'math1342',
 'math2412',
 'math2413',
 'psyc2301',
 'univ0204',
 'univ0301',
 'univ0304']

In [ ]:
import numpy as np, pandas as pd
x = 3.14159265
x = np.nan
x = pd.NA
print(f'pi = {x:.2f}')

In [ ]:
w = {1,2}
w[0]

In [ ]:
sorted({'_total', *listify(self.crse)})

In [ ]:
for crse, C in mysort(self.optimal).items():
    for styp, S in mysort(C).items():
        print(crse, styp, S['score'])

In [ ]:
self.optimal['biol1406']['n'].keys()

In [ ]:
for crse, C in self.pred.items():
    for styp, S in C.items():
        for params, P in S.items():
            details = P['details']
            agg = lambda x: pd.Series({
                'pred': x['pred'].sum(min_count=1),
                'true': x['true'].sum(min_count=1),
                'mse_pct': ((1*x['pred'] - x['true'])**2).mean()*100,
                'f1_inv_pct': (1-f1_score(x.dropna()['true'], x.dropna()['pred'], zero_division=np.nan))*100,
            })
            summary = details.groupby([*self.mlt_grp,'train_term','sim']).apply(agg).join(self.mlt).rename_axis(index={'term_code':'pred_term'})
            for x in ['pred','true']:
                summary[x] = summary[x] * summary['mlt']
            summary.insert(2, 'err', summary['pred'] - summary['true'])
            summary.insert(3, 'err_pct', summary['err'] / summary['true'] * 100)
            # try:
            E = summary.query(f"pred_term!={self.infer_term} & pred_term!=train_term")['err_pct'].abs().median()
            print(crse, styp, E)
            # print(crse, styp, round(E,2))
            # except:
                # summary.query(f"pred_term!={self.infer_term} & pred_term!=train_term").disp(50)
            
    #         break
    #     break
    # break
            # print(crse, styp)

In [ ]:
E.round(2)

In [ ]:
# P['details'].sum()
self.__dict__.keys()
self.reg_df['cur'].query("styp_code=='r' & crse=='engl1301'").groupby('term_code')['credit_hr'].sum()
# self.mlt
summary

In [ ]:
self.X['__distance'].astype('Float64')

In [ ]:
self.pred['_total']['n'].keys()

In [ ]:
from setup import *
X = pd.read_parquet('/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/flags/sheet/202406/flg_202406_2023-08-07.parq')
X.prep()
# I = X[[]].reset_index().prep_string()
# I
# pd.api.types.is_string_dtype(I)
# pd.MultiIndex.from_frame(I)

# pd.MultiIndex.from_frame(X[[]].reset_index().prep_number().prep_string())
# df.prep()

In [ ]:
ser = df['hs_gpa']#.astype('string')
pd.api.types.is_string_dtype(ser)
pd.api.types.is_object_dtype(ser)
ser.dtype

In [ ]:
@pd_ext
def prep_number(ser, dtype_backend='numpy_nullable'):
    assert isinstance(ser, pd.Series)
    if pd.api.types.is_string_dtype(ser) or pd.api.types.is_object_dtype(ser):
        ser = ser.astype('string')
        try:
            ser = pd.to_datetime(ser)
        except ValueError:
            try:
                ser = pd.to_numeric(ser, downcast='integer')
            except ValueError:
                pass
    return ser.astype('Int64') if pd.api.types.is_integer_dtype(ser) else ser.convert_dtypes(dtype_backend)

@pd_ext
def prep_string(ser, cap="casefold"):
    assert isinstance(ser, pd.Series)
    ser = ser.prep_number()
    return getattr(ser.str, cap)().replace('',pd.NA) if pd.api.types.is_string_dtype(ser) else ser

@pd_ext
def prep_category(ser):
    assert isinstance(ser, pd.Series)
    ser = ser.prep_string()
    return ser.astype('category') if pd.api.types.is_string_dtype(ser) else ser

@pd_ext
def prep_bool(ser):
    assert isinstance(ser, pd.Series)
    ser = ser.prep_string()
    vals = ser.dropna().unique()
    if len(vals) in [1, 2]:
        vals = set(vals)
        for s in [['false','true'], ['n','y'], [0, 1]]:
            if vals.issubset(s):
                ser = (ser == s[1]).astype('boolean').fillna(False)
    return ser

@pd_ext
def prep(X, cap='casefold'):
    if isinstance(X, str):
        if cap:
            X = getattr(X, cap)()
        return X.strip()
    elif isinstance(X, (list, tuple, set, np.ndarray, pd.Index)):
        return type(X)((prep(x, cap) for x in X))
    elif isinstance(X, dict):
        return {prep(k,cap):prep(v,cap) for k,v in X.items()}
    elif isinstance(X, pd.DataFrame):
        g = lambda x: prep(x, cap).replace(' ','_').replace('-','_') if isinstance(x, str) else x
        X = X.rename(columns=g).rename_axis(index=g)
        idx = pd.MultiIndex.from_frame(X[[]].reset_index().prep_number().prep_string())
        return X.prep_number().prep_string().set_index(idx).rename_axis(X.index.names)
    elif isinstance(X, pd.Series):
        assert 1==2
    else:
        return X

X = df.prep()

# write(dst, pd.concat(L).prep())

In [ ]:
@pd_ext
def disp(df, max_rows=4, max_cols=200, **kwargs):
    display(HTML(df.to_html(max_rows=max_rows, max_cols=max_cols, **kwargs)))


X.convert_dtypes().dtypes.disp(1000)

In [ ]:
self.optimal['summary']

In [ ]:
for key in ['details', 'summary']:
    write(self[key], self.optimal[key], index=False)
# target_url = 'https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M'
# with open(self.summary, 'rb') as target_file:
#     response = requests.post(target_url, files = {"amp_summary.csv": target_file})

In [ ]:
self.optimal.keys()

In [ ]:
for key in ['details', 'summary']:
    A = pd.concat([S[key] for crse, C in self.optimal.items() for styp_code, S in C.items() if isinstance(S, dict) and key in S.keys()])
    if key == 'summary':
        B = A.copy().reset_index().assign(styp_code=A.reset_index()['styp_code'].replace({'n':'new first time','t':'transfer','r':'returning'}))
        C = B.assign(styp_code='all').groupby(A.index.names)[['pred','true','err']].sum().reset_index()
        C['err_pct'] = C['err'] / C['true'] * 100
        A = pd.concat([B,C])
    self.optimal[key] = A
    write(self[key], self.optimal[key])

In [ ]:
self.optimal['summary']

In [ ]:
for key in ['details', 'summary']:
    A = pd.concat([S[key] for crse, C in self.optimal.items() for styp_code, S in C.items() if isinstance(S, dict) and key in S.keys()])
    if key == 'summary':
        B = A.copy().reset_index().assign(styp_code=A.reset_index()['styp_code'].replace({'n':'new first time','t':'transfer','r':'returning'}))
        C = B.assign(styp_code='all').groupby(A.index.names)[['pred','true','err']].sum().reset_index()
        C['err_pct'] = C['err'] / C['true'] * 100
        A = pd.concat([B,C])
    self.optimal[key] = A
self.optimal['summary']

In [ ]:
for key in ['details', 'summary']:
    A = pd.concat([S[key] for crse, C in self.optimal.items() for styp_code, S in C.items() if isinstance(S, dict) and key in S.keys()])
    if key == 'summary':
        B = A.copy().reset_index().assign(styp_code=A.reset_index()['styp_code'].replace({'n':'new first time','t':'transfer','r':'returning'}))
        C = B.assign(styp_code='all').groupby(A.index.names)[['pred','true','err']].sum()
        C['err_pct'] = C['err'] / C['true'] * 100
        A = pd.concat([B.set_index(A.index.names),C])
    self.optimal[key] = A
self.optimal['summary']

In [ ]:
A = self.optimal['summary'][[]].droplevel('styp_code').reset_index()
A.drop_duplicates().shape
108/24

In [ ]:
idx = self.optimal['summary'].index.names
A = self.optimal['summary'].reset_index()
A['styp_code'] = A['styp_code'].replace({'n':'FTIC','t':'Transfer','r':'Returning'})
B = A.copy().assign(styp_code='all').groupby(idx)[['pred','true','err']].sum().reset_index()
B['err_pct'] = B['err'] / B['true'] * 100
C = pd.concat([A,B])

# C.vc('styp_code')
# C
# B
# idx = [n for n in df.index.names if n != 'styp_code']
# B = (
#     A.groupby(idx)[['pred','true','err']].sum()
#     .assign(styp_code='all', err_pct=lambda x:x['err']/x['true']*100)
#     .reset_index().set_index(df.index.names)
# )
# B

# n.
# list(n)
# remove('styp_code')
# A = df.droplevel('styp_code')
# A = A.groupby(A.index.names).sum()
# A

In [ ]:
A.vc('styp_code')

In [ ]:
A = self.optimal['summary']
B = (
    A.copy().reset_index()
    .assign(styp_code='all')
    .groupby(A.index.names)
    [['pred','true','err']].sum()
)
B['err_pct'] = B['err'] / B['true'] * 100
pd.concat([A,B]).reset_index()
B
# idx = [n for n in df.index.names if n != 'styp_code']
# B = (
#     A.groupby(idx)[['pred','true','err']].sum()
#     .assign(styp_code='all', err_pct=lambda x:x['err']/x['true']*100)
#     .reset_index().set_index(df.index.names)
# )
# B

# n.
# list(n)
# remove('styp_code')
# A = df.droplevel('styp_code')
# A = A.groupby(A.index.names).sum()
# A

In [ ]:
self.optimal

In [ ]:
import requests
target_url = 'https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M'
with open(self.summary, 'rb') as target_file:
    response = requests.post(target_url, files = {"amp_summary.csv": target_file})

In [ ]:
self.optimal['summary']

In [ ]:
pd.concat([b['summary'] for a in self.optimal.values() for b in a.values()])

In [ ]:
self.optimal['engl1301']['n']['summary']#.keys()

In [ ]:
Y = nest(path, self.pred)
Y.keys()
for k in ['details', 'summary']:
    Y[k] = pd.concat([y[k] for y in Y.values() if isinstance(y, dict) and k in y.keys()]).sort_index()

In [ ]:
list(list(self.pred.values())[0]['n'].values())[0][202108]['summary']#.keys()#.keys()

In [ ]:
self.main()

In [ ]:
{k: pd.concat([term.reg[k].query("crse in @self.crse") for term in self.term.values()]).prep() for k in ['cur','end']}

In [ ]:
self.term

In [ ]:
list(filter(202208, self.term_codes))

In [ ]:
d = dict()
d.setdefault('a', dict()).setdefault('b',4)
d

In [ ]:
optimal = dict()
stat = 'err_pct'
for params, v in self.pred.items():
    A = v['summary'].query("pred_term in @self.term_codes & train_term in @self.term_codes & pred_term!=train_term")[stat]
    B = A.abs().groupby(['crse','styp_code']).median()
    for key, val in B.items():
        new = {'params':params, stat:val}
        optimal.setdefault(key, new)
        if val < optimal[key][stat]:
            optimal[key] = new
for key, val in optimal.items():
    print(key[0])
    self.pred[val['params']][key[0]][key[1]]

In [ ]:
for k,v in C[0].items():
    print(k)

In [ ]:
# C[0].ge(C[1])
# np.minimum(*C[:2])
C[0].to_dict('list')

# (orient='index')

In [ ]:
v['rslt']['err_pct']..disp

In [ ]:
from LiveAMP import *
import miceforest as mf
from sklearn.compose import make_column_selector, ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PowerTransformer, KBinsDiscretizer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.metrics import f1_score
from sklearn import set_config
set_config(transform_output="pandas")

def feature_importance_df(self, dataset=0, iteration=None, normalize=True):
    targ = [self._get_var_name_from_scalar(int(i)) for i in np.sort(self.imputation_order)]
    feat = [self._get_var_name_from_scalar(int(i)) for i in np.sort(self.predictor_vars)]
    I = pd.DataFrame(self.get_feature_importance(dataset, iteration), index=targ, columns=feat).T
    return I / I.sum() * 100 if normalize else I
mf.ImputationKernel.feature_importance_df = feature_importance_df

def inspect(self, **kwargs):
    self.plot_imputed_distributions(wspace=0.3,hspace=0.3)
    plt.show()
    self.plot_mean_convergence(wspace=0.3, hspace=0.4)
    plt.show()
    I = self.feature_importance_df(**kwargs)
    I.disp(100)
    return I
mf.ImputationKernel.inspect = inspect


@dataclasses.dataclass
class AMP(MyBaseClass):
    cycle_day: int
    term_codes: typing.List
    infer_term: int
    crse: typing.List
    attr: typing.List
    fill: typing.Dict = None
    trf_grid: typing.Dict = None
    imp_grid: typing.Dict = None
    overwrite: typing.Dict = None
    show: typing.Dict = None
    inspect: bool = False

    def dump(self):
        return write(self.rslt, self, overwrite=True)

    def __post_init__(self):
        self.rslt = root_path / f"resources/rslt/{rjust(self.cycle_day,3,0)}/rslt2.pkl"
        D = {'trm':False, 'adm':False, 'reg':False, 'flg':False, 'raw':False, 'term':False, 'raw_df':False, 'reg_df':False, 'X':False, 'Y':False, 'pred':False}
        for x in ['overwrite','show']:
            self[x] = D.copy() if self[x] is None else D.copy() | self[x]
        self.overwrite['raw'] |= self.overwrite['reg'] | self.overwrite['adm'] | self.overwrite['flg']
        self.overwrite['term'] |= self.overwrite['raw']
        self.overwrite['raw_df'] |= self.overwrite['term']
        self.overwrite['reg_df'] |= self.overwrite['term']
        self.overwrite['X'] |= self.overwrite['raw_df']
        self.overwrite['Y'] |= self.overwrite['reg_df'] | self.overwrite['X']
        self.overwrite['pred'] |= self.overwrite['Y']

        try:
            self.__dict__ = read(self.rslt).__dict__ | self.__dict__
        except:
            pass
        print(self.__dict__.keys())
        for k, v in self.overwrite.items():
            if v and k in self:
                del self[k]
        for k in ['fill','term','pred','trf_grid','imp_grid']:
            if k not in self:
                self[k] = dict()

        self.term_codes = uniquify([*listify(self.term_codes), self.infer_term])
        self.crse = uniquify(['_total', *listify(self.crse)])
        self.mlt_grp = ['crse','levl_code','styp_code','term_code']
        self.trf_list = cartesian({k: sorted(setify(v), key=str) for k,v in self.trf_grid.items()})
        self.trf_list = [mysort({k:v for k,v in t.items() if v not in ['drop',None,'']}) for t in self.trf_list]
        imp_default = {'iterations':3, 'mmc':0, 'mmf':'mean_match_default', 'datasets':5, 'tune':True}
        self.imp_list = cartesian(self.imp_grid)
        self.imp_list = [mysort(imp_default | v) for v in self.imp_list]
        self.params_list = sorted([mysort({'imp':imp, 'trf':trf}) for trf, imp in it.product(self.trf_list,self.imp_list)], key=str)
        return self

    def get_terms(self):
        opts = {x:self[x] for x in ['cycle_day','overwrite','show']}
        for nm in self.term_codes:
            if nm not in self.term:
                print(f'get {nm}')
                self.term[nm] = TERM(term_code=nm, **opts).get_raw()


    def preprocess(self):
        def get(nm):
            if nm in self:
                return False
            print(f'get {nm}')
            return True

        if get('raw_df') or get('reg_df'):
            self.get_terms()

        if get('raw_df'):
            with warnings.catch_warnings(action='ignore'):
                self.raw_df = pd.concat([term.raw for term in self.term.values()], ignore_index=True).dropna(axis=1, how='all').prep()

        if get('reg_df'):
            with warnings.catch_warnings(action='ignore'):
                self.reg_df = {k: pd.concat([term.reg[k].query("crse in @self.crse") for term in self.term.values()]).prep() for k in ['cur','end']}

        where = lambda x: x.query("levl_code == 'ug' and styp_code in ('n','r','t')").copy()
        if get('X'):
            R = self.raw_df.copy()
            repl = {'ae':0, 'n1':1, 'n2':2, 'n3':3, 'n4':4, 'r1':1, 'r2':2, 'r3':3, 'r4':4}
            R['hs_qrtl'] = pd.cut(R['hs_pctl'], bins=[-1,25,50,75,90,101], labels=[4,3,2,1,0], right=False).combine_first(R['apdc_code'].map(repl))
            R['remote'] = R['camp_code'] != 's'
            R['resd'] = R['resd_code'] == 'r'
            R['lgcy'] = ~R['lgcy_code'].isin(['n','o'])
            R['majr_code'] = R['majr_code'].replace({'0000':'und', 'eled':'eted', 'agri':'unda'})
            R['coll_code'] = R['coll_code'].replace({'ae':'an', 'eh':'ed', 'hs':'hl', 'st':'sm', '00':pd.NA})
            R['coll_desc'] = R['coll_desc'].replace({
                'ag & environmental_sciences':'ag & natural_resources',
                'education & human development':'education',
                'health science & human_service':'health sciences',
                'science & technology':'science & mathematics'})
            majr = ['majr_desc','dept_code','dept_desc','coll_code','coll_desc']
            S = R.sort_values('cycle_date').drop_duplicates(subset='majr_code', keep='last')[['majr_code',*majr]]
            X = where(R.drop(columns=majr).merge(S, on='majr_code', how='left')).prep().prep_bool()

            checks = [
                'cycle_day >= 0',
                'apdc_day >= cycle_day',
                'appl_day >= apdc_day',
                'birth_day >= appl_day',
                'birth_day >= 5000',
                'distance >= 0',
                'hs_pctl >=0',
                'hs_pctl <= 100',
                'hs_qrtl >= 0',
                'hs_qrtl <= 4',
                'act_equiv >= 1',
                'act_equiv <= 36',
                'gap_score >= 0',
                'gap_score <= 100',
            ]
            for check in checks:
                mask = X.eval(check)
                assert mask.all(), [check,X[~mask].disp(5)]
            
            for k, v in self.fill.items():
                X[k] = X.impute(k, *listify(v))
            self.X = X.prep().prep_bool().set_index(self.attr, drop=False).rename(columns=lambda x:'__'+x)
            self.X.missing().disp(100)

        if get('Y'):
            Y = {k: self.X[[]].join(y.set_index(['pidm','term_code','crse'])['credit_hr']) for k, y in self.reg_df.items()}
            agg = lambda y: where(y).groupby(self.mlt_grp)['credit_hr'].agg(lambda x: (x>0).sum())
            A = agg(self.reg_df['end'])
            B = agg(Y['end'])
            M = (A / B).replace(np.inf, pd.NA).rename('mlt').reset_index().query(f"term_code != {self.infer_term}").prep()
            N = M.assign(term_code=self.infer_term)
            self.mlt = pd.concat([M, N], axis=0).set_index(self.mlt_grp)
            Y = {k: y.squeeze().unstack().dropna(how='all', axis=1).fillna(0) for k, y in Y.items()}
            self.Y = Y['cur'].rename(columns=lambda x:x+'_cur').join(Y['end']>0).prep()
        return self.dump()


    def predict(self, params, crse, train_term, styp_code='all'):
        # for p, P in self.pred.items():
        #     if p == str(params):
        #         for c, C in P.items():
        #             if c == crse:
        #                 for t, T in C.items():
        #                     if t == train_term:
        #                         for s, S in T.items():
        #                             if s == styp_code:
        #                                 # print(ljust(crse,8), train_term, styp_code, 'reusing')
        #                                 return S, False

        print(ljust(crse,8), train_term, styp_code, 'creating')
        X = self.X.copy()
        if styp_code != 'all':
            X = X.query(f"styp_code==@styp_code")
        trf = ColumnTransformer([(c,t,["__"+c]) for c,t in params['trf'].items()], remainder='drop', verbose_feature_names_out=False)
        cols = uniquify(['_total_cur',crse+'_cur',crse])
        Z = trf.fit_transform(X).join(self.Y[cols]).prep().prep_bool().prep_category().sort_index()
        y = Z[crse].copy().rename('true').to_frame()
        Z.loc[Z.eval("term_code!=@train_term"), crse] = pd.NA

        iterations = params['imp'].pop('iterations')
        datasets = params['imp'].pop('datasets')
        tune = params['imp'].pop('tune')
        mmc = params['imp'].pop('mmc')
        mmf = params['imp'].pop('mmf')
        if mmc > 0 and mmf is not None:
            params['imp']['mean_match_scheme'] = getattr(mf, mmf).copy()
            params['imp']['mean_match_scheme'].set_mean_match_candidates(mmc)
        
        if tune:
            # print('tuning')
            imp = mf.ImputationKernel(Z, datasets=1, **params['imp'])
            imp.mice(iterations=1)
            optimal_parameters, losses = imp.tune_parameters(dataset=0, optimization_steps=5)
        else:
            # print('not tuning')
            optimal_parameters = None
        imp = mf.ImputationKernel(Z, datasets=datasets, **params['imp'])
        imp.mice(iterations=iterations, variable_parameters=optimal_parameters)
        if self.inspect:
            imp.inspect()

        Z.loc[:, crse] = pd.NA
        P = imp.impute_new_data(Z)
        details = pd.concat([y
                .assign(pred=P.complete_data(k)[crse], train_term=train_term, crse=crse, sim=k)
                .set_index(['train_term','crse','sim'], append=True)
            for k in range(P.dataset_count())]).prep_bool()
        agg = lambda x: pd.Series({
            'pred': x['pred'].sum(min_count=1),
            'true': x['true'].sum(min_count=1),
            'mse_pct': ((1*x['pred'] - x['true'])**2).mean()*100,
            'f1_inv_pct': (1-f1_score(x.dropna()['true'], x.dropna()['pred'], zero_division=np.nan))*100,
        })
        summary = details.groupby([*self.mlt_grp,'train_term','sim']).apply(agg).join(self.mlt).rename_axis(index={'term_code':'pred_term'})
        for x in ['pred','true']:
            summary[x] = summary[x] * summary['mlt']
        summary.insert(2, 'err', summary['pred'] - summary['true'])
        summary.insert(3, 'err_pct', (summary['err'] / summary['true']).clip(-1, 1) * 100)
        S = {'details':details, 'summary':summary.drop(columns='mlt').prep()}#, 'trf':trf, 'imp':imp}
        # S['summary'].disp(5)
        return S
        # return S, True


    def analyze(self, df):
        def pivot(df, val):
            Y = (
                df
                .reset_index()
                .pivot_table(columns='train_term', index=['crse','styp_code','pred_term'], values=val, aggfunc=['count',pctl(0),pctl(25),pctl(50),pctl(75),pctl(100)])
                .rename_axis(columns=[val,'train_term'])
                .stack(0, future_stack=True)
                .assign(abs_mean = lambda x: x.abs().mean(axis=1))
            )
            return Y
        mask = df.eval(f"pred_term!={self.infer_term}")
        return {stat: pivot(df[mask], stat) for stat in ["pred","err","err_pct","mse_pct","f1_inv_pct"]} | {"proj": pivot(df[~mask], "pred")}

    def main(self, styp_codes=('n','t','r')):
        self = self.preprocess()
        g = lambda Y: {k: pd.concat([y[k] for y in Y.values() if isinstance(y, dict) and k in y.keys()]).sort_index() for k in ['details','summary']}
        start_time = time.perf_counter()
        L = len(self.params_list)
        k = 0
        for params in self.params_list:
            new = False
            Y = []
            for crse in self.crse:
                for train_term in self.term_codes:
                    for styp_code in listify(styp_codes):
                        path = [str(params),crse,train_term,styp_code]
                        try:
                            y = nest(path, self.pred)
                        except:
                            if not new:
                                print(str(params))
                            y = self.predict(copy.deepcopy(params), crse, train_term, styp_code)
                            nest(path, self.pred, y)
                            new = True
                        Y.append(y)
            P = self.pred[str(params)]
            if new:
                for key in ['details', 'summary']:
                    P[key] = pd.concat([y[key] for y in Y])
                P['rslt'] = self.analyze(P['summary'])
                self.dump()
                k += 1
            else:
                L -= 1
            P['rslt']['err_pct'].query("err_pct == ' 50%'").disp(100)
            P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().describe().to_frame().T.disp(200)
            elapsed = (time.perf_counter() - start_time) / 60
            complete = k / L if L > 0 else 1
            rate = elapsed / k if k > 0 else 0
            remaining = rate * (L - k)
            print(f"{k} / {L} = {round(complete*100,1)}% complete, elapsed = {round(elapsed,1)} min, remaining = {round(remaining,1)} min @ {round(rate,1)} min per model")
            print("\n========================================================================================================\n")
        # return self
    

    # def main(self, styp_codes=('n','t','r')):
    #     self = self.preprocess()
    #     g = lambda Y: {k: pd.concat([y[k] for y in Y.values() if isinstance(y, dict) and k in y.keys()]).sort_index() for k in ['details','summary']}
    #     start_time = time.perf_counter()
    #     L = len(self.params_list)
    #     k = 0
    #     for params in self.params_list:
    #         # print(str(params))
    #         try:
    #             P = self.pred[str(params)]
    #             S = P['summary']
    #             L -= 1
    #         except:
    #             print(str(params))
    #             P = dict()
    #             for crse in self.crse:
    #                 for train_term in self.term_codes:
    #                     for styp_code in listify(styp_codes):
    #                         S = self.predict(copy.deepcopy(params), crse, train_term, styp_code)
    #                         path = [crse,train_term,styp_code]
    #                         nest(path, P, S)
    #                     path.pop(-1)
    #                     nest(path, P, g(nest(path, P)))
    #                 path.pop(-1)
    #                 nest(path, P, g(nest(path, P)))
    #             P = g(P)
    #             S = P['summary']
    #             k += 1
    #         if 'rslt' not in P:
    #             P['rslt'] = self.analyze(S)
    #             self.pred[str(params)] = P
    #             self.dump()
    #         S.query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().describe().to_frame().T.disp(200)
    #         elapsed = (time.perf_counter() - start_time) / 60
    #         complete = k / L if L > 0 else 1
    #         rate = elapsed / k if k > 0 else 0
    #         remaining = rate * (L - k)
    #         print(f"{k} / {L} = {round(complete*100,1)}% complete, elapsed = {round(elapsed,1)} min, remaining = {round(remaining,1)} min @ {round(rate,1)} min per model")
    #         print("\n========================================================================================================\n")
    #     return self


code_desc = lambda x: [x+'_code', x+'_desc']
passthru = ['passthrough']
passdrop = ['passthrough', 'drop']
# passthru = passdrop
bintrf = lambda n_bins: KBinsDiscretizer(n_bins=n_bins, encode='ordinal', strategy='uniform', subsample=None)
pwrtrf = make_pipeline(StandardScaler(), PowerTransformer())
kwargs = {
    # 'term_codes': np.arange(2020,2025)*100+8,
    'term_codes': np.arange(2021,2025)*100+8,
    'infer_term': 202408,
    'show': {
        # 'reg':True,
        # 'adm':True,
    },
    'fill': {
        'birth_day': ['median',['term_code','styp_code']],
        'remote': False,
        'international': False,
        **{f'race_{r}': False for r in ['american_indian','asian','black','pacific','white','hispanic']},
        'lgcy': False,
        'resd': False,
        'waiver': False,
        'fafsa_app': False,
        'schlship_app': False,
        'finaid_accepted': False,
        'ssb': False,
        'math': False,
        'reading': False,
        'writing': False,
        'gap_score': 0,
        'oriented': 'n',
    },
    'attr': [
        'pidm',
        *code_desc('term'),
        *code_desc('apdc'),
        *code_desc('levl'),
        *code_desc('styp'),
        *code_desc('admt'),
        *code_desc('camp'),
        *code_desc('coll'),
        *code_desc('dept'),
        *code_desc('majr'),
        *code_desc('cnty'),
        *code_desc('stat'),
        *code_desc('natn'),
        *code_desc('resd'),
        *code_desc('lgcy'),
        'international',
        'gender',
        *[f'race_{r}' for r in ['american_indian','asian','black','pacific','white','hispanic']],
        'waiver',
        'birth_day',
        'distance',
        'hs_qrtl',
    ],
    'cycle_day': (TERM(term_code=202408).cycle_date-pd.Timestamp.now()).days+1,
    'cycle_day': 184,
    'crse': [
        'engl1301',
        'biol1406',
        # 'biol2401',
        # 'math1314',
        # 'math2412',
        # 'agri1419',
        # 'psyc2301',
        # 'ansc1319',
        # 'comm1311',
        # 'hist1301',
        # 'govt2306',
        # 'math1324',
        # 'chem1411',
        # 'univ0301',
        # 'univ0204',
        # 'univ0304',
        # 'agri1100',
        # 'comm1315',
        # 'agec2317',
        # 'govt2305',
        # 'busi1301',
        # 'arts1301',
        # 'math1342',
        # 'math2413',
        ],
    'trf_grid': {
        'appl_day': passdrop,
        'apdc_day': passdrop,
        'birth_day': [*passthru, pwrtrf],#, ],
        # 'levl_code': passthru,
        # 'styp_code': passthru,
        # 'admt_code': passdrop,
        # 'camp_code': passdrop,
        'remote': passthru,
        'coll_code': passdrop,
        'international': passthru,
        **{f'race_{r}': passthru for r in ['american_indian','asian','black','pacific','white','hispanic']},
        'gender': passthru,
        'lgcy': passdrop,
        'resd': passthru,
        'waiver': passdrop,
        # 'fafsa_app': passthru,
        'schlship_app': passthru,
        # 'finaid_accepted': passthru,
        'ssb': passthru,
        'math': passthru,
        'reading': passthru,
        'writing': passthru,
        'gap_score': passthru,
        'oriented': passthru,
        'hs_qrtl': passthru,
        'act_equiv': passthru,
        'distance': [*passthru, pwrtrf],#, bintrf(5)],
        },
    'imp_grid': {
        'mmc': 10,
        # 'datasets': 25,
        'datasets': 1,
        'iterations': 1,
        'tune': False,
    },
    'overwrite': {
        # # 'trm':True,
        # 'reg':True,
        # 'adm':True,
        # 'flg':True,
        # 'raw':True,
        # 'term': True,
        # 'raw_df': True,
        'reg_df': True,
        # 'X': True,
        # 'Y': True,
        # 'pred': True,
    },
    # 'inspect': True,
}

# FLAGS().run()
self = AMP(**kwargs)
self = self.preprocess()
# self.term_codes.remove(self.infer_term)
self.params_list = self.params_list[1:2]
self.main(styp_codes='n')
# len(self.params_list)
# for x in self.params_list:
#     print(x)
# T = TERM(202008, cycle_day=184, show={'adm':True}).get_adm(184)

In [ ]:
import requests, pandas as pd
df = pd.DataFrame()
df['A'] = [1,2,3]
df['B'] = ['a','b','c']
fn = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/admitted_matriculation_predictor/test.csv'
df.to_csv(fn)
with open(fn, 'rb') as f:
    r = requests.post('https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M', files={'test.csv': f})

In [ ]:
import requests
# define the relative path of the sample file
file_path = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/admitted_matriculation_predictor/test.csv'
target_url = 'https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M'
with open(file_path, "rb") as target_file:
    response = requests.post(target_url, files = {"form_field_name": target_file})
if response.ok:
    print("Upload complete")
    print(response.text)
else:
    print("Something went wrong")

In [ ]:
fn = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl'
fn = pathlib.Path(fn)
with open(fn, 'rb') as f:
    # return joblib.load(f, **kwargs)
    s = pickle.load(f)

# s = read('/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl')
# s.X
# self.term_codes

In [ ]:
list(self.pred.values())[0]

In [ ]:
https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M
with open('report.xls', 'rb') as f:
    r = requests.post('http://httpbin.org/post', files={'report.xls': f})

In [ ]:
https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M

In [ ]:
import pickle
with open('/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl', 'rb') as f:
    A = pickle.load(f)
list(A.pred.values())[0].keys()

In [ ]:
with open('report.xls', 'rb') as f:
    r = requests.post('https://prod-121.westus.logic.azure.com:443/workflows/784fef9d36024a6abf605d1376865784/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=1Yrr4tE1SwYZ88SU9_ixG-WEdN1GFicqJwH_KiCZ70M', files={'report.xls': f})

In [ ]:
fn = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl'
fn = pathlib.Path(fn)
fn.unlink(missing_ok=True)
with open(fn, 'wb') as f:
    joblib.dump(self, f)
with open(fn, 'rb') as f:
    Q = joblib.load(f)
print(Q.pred)
Q.pred['hi'] = 3
with open(fn, 'wb') as f:
    joblib.dump(Q, f)
with open(fn, 'rb') as f:
    R = joblib.load(f)
print(Q.pred)

# self.dump()

In [ ]:
f = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl'
# f2 = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt2.pkl'
A = read(f)
print(A.pred)
A.pred['hi'] = 3
# print(A.pred)
# write(f, A, overwrite=True)
# B = read(f)
# print(B.pred)
# A.pred
# len(self.pred)

In [ ]:
import pathlib, pickle, joblib
def write(fn, obj, overwrite=False, **kwargs):
    fn = pathlib.Path(fn)
    suf = ['.parq','.parquet','.pkl','.csv']
    assert fn.suffix in suf, f'Unknown suffix {fn.suffix} - must be one of {suf}'
    if overwrite:
        fn.unlink(missing_ok=True)
    if not fn.is_file():
        mkdir(fn.parent)
        if fn.suffix == '.pkl':
            with open(fn, 'wb') as f:
                joblib.dump(obj, f, **kwargs)
                # pickle.dump(obj, f, **kwargs)
        else:
            obj = pd.DataFrame(obj).prep()
            if fn.suffix in ['.parq','.parquet']:
                obj.to_parquet(fn, **kwargs)
            elif fn.suffix == '.csv':
                obj.to_csv(fn, **kwargs)
    return obj

def read(fn, overwrite=False, **kwargs):
    fn = pathlib.Path(fn)
    suf = ['.parq','.parquet','.pkl','.csv']
    assert fn.suffix in suf, f'Unknown suffix {fn.suffix} - must be one of {suf}'
    if overwrite:
        fn.unlink(missing_ok=True)
    try:
        with open(fn, 'rb') as f:
            return joblib.load(f, **kwargs)
            # return pickle.load(f, **kwargs)
    except:
        try:
            return pd.read_parquet(fn, **kwargs).prep()
        except:
            try:
                return pd.read_csv(fn, **kwargs).prep()
            except:
                return None
            
f = '/home/scook/institutional_data_analytics/admitted_matriculation_projection/resources/rslt/183/rslt.pkl'

In [ ]:
P = list(self.pred.values())[0]
P['rslt']['err_pct'].query("err_pct==' 50%'")#.keys()

In [ ]:
for k, p in enumerate(self.params_list):
    if str(p) == q:
        j = k
        print(j)
str(self.params_list[j]) == q

In [ ]:
for params, P in self.pred.items():
    A = P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().median()#.describe()[].to_frame().T.disp(200)
    if A < 3:
        P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().describe().to_frame().T.disp(200)
        q = params

In [ ]:
# self.params_list[0] == q
str(self.params_list[0]) == q

In [ ]:
for k, (params, P) in enumerate(self.pred.items()):
    A = P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().median()#.describe()[].to_frame().T.disp(200)
    if A < 3:
        P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().describe().to_frame().T.disp(200)
        q = params

# str(self.params_list[26]) == q
[k for k, p in enumerate(self.params_list) if str(p)==q]
# for s in self.params_list:
#     print(str(s)==q)

In [ ]:
self.X

In [ ]:
q = str(list(self.pred.keys())[25])
q

In [ ]:
for k, (params, P) in enumerate(self.pred.items()):
    A = P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().median()#.describe()[].to_frame().T.disp(200)
    if A < 3:
        print(k)
        P['summary'].query(f"train_term==202308 & pred_term!=202408")["err_pct"].abs().describe().to_frame().T.disp(200)
        q = params
    
    # print(A)

In [ ]:
self.params_list[26]

In [ ]:
self.params_list

In [ ]:
P = {
    '_total': {
        202008: {
            'n': {
                'summary': 1,
                'full': 2,
            },
            'r': {
                'summary': 3,
                'full': 4,
            },
        },
        202108: {
            'n': {
                'summary': 5,
                'full': 6,
            },
            'r': {
                'summary': 7,
                'full': 8,
            },
        },
        202208: {
            'n': {
                'summary': 9,
                'full': 10,
            },
            'r': {
                'summary': 11,
                'full': 12,
            },
        },
    },
    'engl1301': {
        202008: {
            'n': {
                'summary': 21,
                'full': 22,
            },
            'r': {
                'summary': 23,
                'full': 24,
            },
        },
        202108: {
            'n': {
                'summary': 25,
                'full': 26,
            },
            'r': {
                'summary': 27,
                'full': 28,
            },
        },
        202208: {
            'n': {
                'summary': 29,
                'full': 30,
            },
            'r': {
                'summary': 31,
                'full': 32,
            },
        },
    },
}
P

In [ ]:
self.dump()

In [ ]:
len(self.pred)

In [ ]:
n = 1
d = np.array(0)
n/d

In [ ]:
k = list(self.pred.keys())[10]
self.pred[k].keys()#['rslt']

In [ ]:
self.dump()

In [ ]:
self.raw_df.query('pidm==1121725').disp(1)

In [ ]:
for v in self.pred.values():
    print(v.keys())
    # pass
# A = list(self.pred.values())[0]
# A.keys()
# self.analyze(A['summary'])
# v['rslt']['proj']

In [ ]:
crse = '_total'
train_term = 202308
styp_code = 'n'
A = list(self.pred.values())[0]['summary'].query(f"crse==@crse & train_term==@train_term & styp_code==@styp_code & pred_term!=202408")
A['err_pct'].abs().describe().to_frame().T

In [ ]:
g = lambda Y: {k: pd.concat([y[k] for y in Y.values() if isinstance(y, dict) and k in y.keys()]).sort_index() for k in ['details','summary']}
Q = dict()
for params, P in self.pred.items():
    print(str(params))
    for crse, C in P.items():
        if crse in self.crse:
            for train_term, T in C.items():
                if train_term in self.term_codes:
                    for styp_code, S in T.items():
                        if styp_code in ['n','r','t']:
                            path = [str(params),crse,train_term,styp_code]
                            nest(path, Q, S)
                    path.pop(-1)
                    nest(path, Q, g(nest(path, Q)))
            path.pop(-1)
            nest(path, Q, g(nest(path, Q)))
    path.pop(-1)
    nest(path, Q, g(nest(path, Q)))
    # nest(path, self.pred[params], g(nest(path, Q)))
    # self.pred[params] = g(Q)
    # break

In [ ]:
g = lambda Y: {k: pd.concat([y[k] for y in Y.values() if isinstance(y, dict) and k in y.keys()]).sort_index() for k in ['details','summary']}
for params, P in self.pred.items():
    print(str(params))
    for crse in self.crse:
        for train_term in self.term_codes:
            for styp_code in ['n']:
                S, new = self.predict(copy.deepcopy(params), crse, train_term, styp_code)
                assert new is False
                path = [str(params),crse,train_term,styp_code]
                P = nest(path, P, S)
                dump |= new
            path.pop(-1)
            P = nest(path, P, g(nest(path, P)))
        path.pop(-1)
        P = nest(path, P, g(nest(path, P)))
    path.pop(-1)
    self.pred[str(params)] = nest(path, P, g(nest(path, P)))

In [ ]:
k = 25
params = list(self.pred.keys())[k]
rslt = self.pred[params]
rslt.keys()

In [ ]:
k = 25
params = list(self.pred.keys())[k]
rslt = self.pred[params]
df = rslt['summary']
# df.query(f"train_term==202308 & pred_term!=202408")['err_pct'].abs().describe().to_frame().T.disp(200)

def analyze(df):
    def pivot(df, val):
        Y = (
            df
            .reset_index()
            .pivot_table(columns='train_term', index=['crse','styp_code','pred_term'], values=val, aggfunc=['count',pctl(0),pctl(25),pctl(50),pctl(75),pctl(100)])
            .rename_axis(columns=[val,'train_term'])
            .stack(0, future_stack=True)
            .assign(abs_mean = lambda x: x.abs().mean(axis=1))
        )
        return Y
    # v = self.pred[params]
    # df = v['summary']
    mask = df.eval(f"pred_term!={self.infer_term}")
    rslt = {stat: pivot(df[mask], stat) for stat in ["pred","err","err_pct","mse_pct","f1_inv_pct"]} | {'pred': pivot(df[~mask], "pred")}
    
    return rslt
    # R = v['rslt']['err_pct'].query("err_pct in [' 50%']")
    # R.disp(200)
    # # R[['abs_mean']].describe().T.disp(200)
    # # df.query(f"crse==@crse & train_term==@train_term & styp_code==@styp_code & pred_term!=202408")
    # df.query(f"train_term==202308 & pred_term!=202408")['err_pct'].abs().describe().to_frame().T.disp(200)
    # return self.dump()

rslt = analyze(df)
rslt['pred']
# rslt.keys()
# for k, (params, rslt) in enumerate(self.pred.items()):
#     print(k, params)
#     df = rslt['summary']
#     df.query(f"train_term==202308 & pred_term!=202408")['err_pct'].abs().describe().to_frame().T.disp(200)